@model SstuEpam.Shops.PL.AspPL.Models.StoreModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StorePage</title>
    <link rel="stylesheet" href="~/Content/style/styleStorePage.css"/>
</head>
<body>
    @Html.ActionLink("Главная страница", "../Home/Index")

    @if (Request.Cookies["id"] != null && !Request.Cookies["id"].Value.Equals("-1") ||
        Session["id"] != null && !Session["id"].Equals(-1))
    {
        <p>@Html.ActionLink("Выйти", "../LogReg/LogOut")</p>
        <p>@Html.ActionLink("Личный кабинет", "../Account/UserPage")</p>
    }
    else
    {
        <p>@Html.ActionLink("Войти", "../LogReg/LoginPage")</p>
        <p>@Html.ActionLink("Зарегестрироваться", "../LogReg/RegistrationPage")</p>
    }
    <div>
        <h4>StoreModel</h4>
        <hr />
        @Html.ActionLink("Редактировать","../Admin/EditStore",new { id=Model.Id})
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

        </dl>
        <div class="formComment">
            @using (Html.BeginForm("SendComment", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="">
                    <h4>Введите свой отзыв об этом магазине.</h4>
                    @ViewData["ErrorMesComment"]
                    <div class="form-group">
                        @Html.Hidden("idStore", Model.Id)
                        <div class="messege">
                            @Html.TextArea("text", "", 5, 5, null)
                        </div>
                        <div class="rating">
                            @Html.RadioButton("rating", "1")
                            @Html.RadioButton("rating", "2")
                            @Html.RadioButton("rating", "3")
                            @Html.RadioButton("rating", "4")
                            @Html.RadioButton("rating", "5")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Отправить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="comments">
            @foreach (var item in Model.comments)
            {
                <div class="cell">
                    <div class="username">@item.FIOuser</div>
                    <div class="rating">@item.Rating</div>
                    <div class="userComment">@item.Text</div>
                </div>
            }
        </div>
    </div>
   
</body>
</html>
